### data_collection.ipynb

The purpose of this file is to obtain data from the World Bank API, combine this data together into a single pandas dataframe and write to disk as a pickle file

In [34]:
import pandas as pd
import json
from pandas_datareader import wb

In [35]:
data_dir = '.\\..\\..\\data\\'
#name of output pickle file
world_bank_file_out = "world_bank_api_data.pkl"

In [36]:
#List of World Bank Indictor codes to be used to obtain data from the World bank API
codes = ['SI.POV.DDAY',
'SI.POV.GINI',
'EN.POP.SLUM.UR.ZS',
'SI.SPR.PC40',
'SE.PRM.UNER',
'SE.XPD.TOTL.GD.ZS',
'SL.TLF.TOTL.IN',
'NY.GDP.MKTP.KD.ZG',
'SP.URB.TOTL.IN.ZS']

In [37]:
#Obtain data through the World Bank API using the pandas datareader library
data = dict()
for code in codes:
    print(code)
    data[code] = wb.download(indicator=code, country=['all'],start=1972, end=2018)

SI.POV.DDAY
SI.POV.GINI
EN.POP.SLUM.UR.ZS
SI.SPR.PC40
SE.PRM.UNER
SE.XPD.TOTL.GD.ZS
SL.TLF.TOTL.IN
NY.GDP.MKTP.KD.ZG
SP.URB.TOTL.IN.ZS

In [41]:
#Concatenate together into 1 file
to_concatentate = [ data[code] for code in codes]
world_bank_data = pd.concat(to_concatentate, axis=1)

#According to pandas docs on multiIndex usage: For objects to be indexed and sliced effectively, they need to be sorted.
world_bank_data = world_bank_data.sort_index()

world_bank_data.index.levels[1].name = 'Year'
world_bank_data.index.levels[0].name = 'Country'

world_bank_data.head(5)

                  SI.POV.DDAY  SI.POV.GINI  EN.POP.SLUM.UR.ZS  SI.SPR.PC40  \
Country     Year
Afghanistan 1972          NaN          NaN                NaN          NaN
            1973          NaN          NaN                NaN          NaN
            1974          NaN          NaN                NaN          NaN
            1975          NaN          NaN                NaN          NaN
            1976          NaN          NaN                NaN          NaN

                  SE.PRM.UNER  SE.XPD.TOTL.GD.ZS  SL.TLF.TOTL.IN  \
Country     Year
Afghanistan 1972          NaN            1.11718             NaN
            1973          NaN            1.42788             NaN
            1974    1426190.0                NaN             NaN
            1975          NaN            1.30332             NaN
            1976          NaN                NaN             NaN

                  NY.GDP.MKTP.KD.ZG  SP.URB.TOTL.IN.ZS
Country     Year
Afghanistan 1972                NaN             12.410
            1973                NaN             12.809
            1974                NaN             13.219
            1975                NaN             13.641
            1976                NaN             14.074

#### Write file to a pickle file:

In [33]:
#Write data to a pickle file
world_bank_data.to_pickle(data_dir + world_bank_file_out)